# Default voice for Text-to-Speech
# Options for Spanish:
# - es-ES-AlvaroNeural (Male, Spain)
# - es-ES-ElviraNeural (Female, Spain)
# - es-MX-JorgeNeural (Male, Mexico)
# - es-MX-DaliaNeural (Female, Mexico)
# - es-CL-LorenzoNeural (Male, Chile)
DEFAULT_VOICE=es-ES-AlvaroNeural
